@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.auth-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
  pointer-events: none;
}

.auth-container:hover::before {
  opacity: 1;
}

.auth-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
}

.auth-container .form-control {
  border-radius: 0.25rem;
  transition: border-color 0.2s;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.auth-container .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  z-index: 0;
}

.auth-container .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
  z-index: 1;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.auth-container .btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 86, 179, 0.5);
  z-index: 0;
}

.auth-container .btn-primary:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  z-index: 0;
}

/* Responsive styles */
@media (max-width: 576px) {
  .auth-container {
    padding: 1rem;
  }
}

.login-bg {
  background-image: url("https://plus.unsplash.com/premium_photo-1684761778770-8a6e01c351e6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Set your login background image */
}

.register-bg {
  background-image: url("https://plus.unsplash.com/premium_photo-1681488060968-ee7b2f6d8751?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGNoYXR8ZW58MHx8MHx8fDA%3D");
}
