body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  background-color: #181818;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}

.chat-window {
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: scroll;
  padding: 10px;
  background-color: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  .chat-window {
    height: 100px;
  }
}

@media (max-width: 576px) {
  .chat-window {
    height: 100px;
  }
}

.theme-switcher {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 1.2rem;
}

.navbar .dropdown-item.disabled {
  color: #ffffff;
}

.google-btn {
  border-radius: 0.25rem;
  z-index: 1;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.google-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.google-btn .btn-light:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  z-index: 0;
}
